<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_Gtag>
            <version>1.0.0.0</version>
        </Loewenstark_Gtag>
    </modules>
    <global>
        <helpers>
            <gtag>
                <class>Loewenstark_Gtag_Helper</class>
            </gtag>
        </helpers>
        <blocks>
            <gtag>
                <class>Loewenstark_Gtag_Block</class>
            </gtag>
        </blocks>
        <models>
            <gtag>
                <class>Loewenstark_Gtag_Model</class>
            </gtag>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <gtag>
                    <file>gtag.xml</file>
                </gtag>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <googleanalytics_order_success>
                        <class>gtag/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </googleanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <googleanalytics_order_success>
                        <class>gtag/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </googleanalytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
</config>
